<div class="modal fade" id="editmodal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Course</h4>
      </div>
      <br/>
      <form #f="ngForm" novalidate>
        <div class="form-group x">
          <label class="control-label t">Course Name:</label>
          <input type="text" class="form-control s" name="Name" [(ngModel)]="Name" placeholder="{{course.Name}}">
        </div>

        <div class="form-group x">
          <label class="control-label t">Course Code</label>
          <input type="number" class="form-control s" name="Code" [(ngModel)]="Code" placeholder="{{course.Code}}">
        </div>
        <div class="form-group x">
          <label class="control-label t">No .Of Hourse</label>
          <input type="number" class="form-control s" name="Hours" [(ngModel)]="Hours" placeholder="{{course.Hours}}">
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="EditCourse(f)" data-dismiss="modal">Edit Course</button>
        <button type="button" class="btn btn-default" (click)="cancel()" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>